<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/c32de0e0-917d-45d9-86d3-ed7cb0e7bf95/resourceGroups/Strijp-T/providers/Microsoft.ContainerRegistry/registries/strijpt</ResourceId>
    <ResourceName>strijpt</ResourceName>
    <ResourceGroup>Strijp-T</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://strijpt.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c15422db-3805-4e9f-93fe-c6c9d1c963a6</ProjectGuid>
  </PropertyGroup>
</Project>